/* definition des couleiu */
:root {
  --noir: #000;
  --blanc: #fff;
}

/* initialisation des valeures */
*{
  margin: 0;
  padding: 0;
}
/*=== Body ===*/
body{
  font-family: 'Montserrat', sans-serif;
  background: #2d288a;
  background: linear-gradient(90deg, rgba(45, 40, 138, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(15, 98, 115, 1) 100%);
   color :#f4f4f4
}
/* ==Header ===*/
header{
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}
header,
footer{
  background-color: var(--blanc);
  color: var(--noir);  
}
header nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
}
nav .logo img{
    width: 150px;
    height: auto;
    border-radius: 50%;
}
nav a{
    margin-left: 10px;
    text-decoration: none;
    color: var(--noir);
    font-size: 1.3em;  
}
nav .liens-de-navigation :hover{
  color: rgb(2, 45, 2);
}

/* ==Main ==*/
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
#image-profil{
  width: 20%;
  text-align: center;
}
#image-profil img{
    width: 100%;
}
.presentation {
    width: auto;
    margin-left: 20px;
}
.presentation h1{
  font-size: 3em;
  color: #e3f2fd;
}
.voir-projets{
  width: 250px;
  border-radius: 30px;
  padding: 10px;
  margin: 20px auto;
  background-color:#096a31;
  font-weight: 600;
}
.voir-projets a{
  text-decoration: none;
  font-size: 1.3em;
  color: var(--blanc);
}
.voir-projets:hover{
  opacity: 0.8;
  
}
/*  Acceuil section projets recents */
.projets-recents {
    margin: 20px;
    text-align: center;
}
.images-acceuil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.images-acceuil img{
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

/*=== Footer ===*/
footer{
    text-align: center;
}

/*== Page projets realisees ===*/
/* === Section projets 3D ===*/
.PROJECT h1{
  border: 3px solid #096a31;
  display:inline-block;
  margin-bottom: 20px;
}
.project3D {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: auto;
  gap: 0.5em;
  padding-top: 1em;
  justify-content: center;
}

.project3D img{
  width: 350px;
  height: 300px;

}                                             
#video{
  display: flex ;
  margin-top: 30px;
  width: 600px;
  margin-left: 30%;
}
/* === Section projet solaire ===*/
section{
  margin: 20px;
}

.solar_project{
  margin-left: 30px;
  text-align: center;
}

.solar_project div{
  display: grid;
  grid-template-columns:350px 350px 350px;
  gap: 0.5em;
  padding: 1em 1em;
  justify-content: center;
}

.solar_project img{
  width: 350px;
  height: 350px;
}